body{
    min-height: 100vh;
}

section.wrapper{
    text-align: center;
}

canvas {
    display: none;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 100vw;
    padding: 2px;
}
div#modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#clock{
    float: right;
    display: inline;
    outline: 2px solid black;
    padding: auto;
    margin: 5px;
}

#buttons{
    display: none;
}

.button{
    display: block;
    background-color: #000000;
    border: none;
    box-shadow: 0 9px #505050;
    padding: 30px;
    text-align: center;
    font-size: 28px;
}

.button:hover{
    background-color: #3f3f3f;
}

.button:active{
    box-shadow: 0 5px #3d3d3d;
    transform: translateY(5px);
}

.X{
    color: #0000ff;
}

.Y{
    color: #00ff00;
}

.A{
    color: #ffff00;
}

.B{
    color: #ff0000;
}

.round{
    border-radius: 50%;
}